<div class="col s12 progression-stats z-depth-1">
  <div class= "col s6 stepProgress">
    <canvas id="firstChart" width="300" height="300"></canvas>
  </div>
  <div class= "col s6 stepProgress">
    <canvas id="secondChart" width="300" height="300"></canvas>
  </div>
</div>
