<div class="row patientGoals z-depth-2">
  <div class="col s12">
      <!-- <div class="col s6">
        <h3>Doelstellingen overzicht {{name}}</h3>
      </div> -->
      <div class="col s12">
      <!-- <div class="col s6"> -->
        <h3>Nieuwe doelstellingen toevoegen {{name}}<h3>
      </div>
  </div>
    <div class="col s12 divider"></div>
  <!-- <div class="col s6 info z-depth-1">
    <div class="col s12 goalsInfo">
    </div>
    <div class="col s12 infoButton">

    </div>
  </div> -->
  <div class="col s12 dates z-depth-1">
    <div class="col s12 goalDates">
    </div>
    <div class="col s12 datesButton">
      <div class="col s8 stepsForm">

      </div>
      <div class="col s4 stepsButton">

      </div>
    </div>
  </div>
</div>
