<ul class="breadcrumb-list row">
  <div class="breadcrumb-div col s2 first-breadcrumb">
    <span class="breadcrumb-span"><</span>
    <li class="breadcrumb-item breadcrumb-first"></li>
  </div>
  <div class="breadcrumb-div col s2 second-breadcrumb">
    <span class="breadcrumb-span"><</span>
    <li class="breadcrumb-item breadcrumb-second"></li>
  </div>
  <div class="breadcrumb-div col s2 third-breadcrumb">
    <li class="breadcrumb-item breadcrumb-third"></li>
  </div>
</ul>
