<div class="row">
  <div class="col s12">
    <table class="responsive-table striped">
      <thead>
        <tr class="table-row-head">
          {{#each columns}}
            <th>{{label}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
<div class='tablebuttons'>
<a class="btn-floating btn-large waves-effect waves-light more-btn"><i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="Klik voor meer resultaten">expand_more</i></a>
</div>
