doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bundle.css')
    link(rel='stylesheet', href='/plugins/sweetalert/sweetalert.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  body
    block content

    script(src="/js/jquery-3.1.0.min.js")
    script(src="/js/jquery-ui.min.js")
    script(src="/js/jquery-ui.multidatespicker.js")
    script(src="/js/handlebars.runtime-v3.0.4.js")
    script(src="/plugins/sweetalert/sweetalert.min.js")
    script(src="/js/templates.js")
    script(src="/js/materialize.min.js")
    script(src="/js/app.js")
