main.login {
  .main-image{
    .real-image{
      // background: url('/images/background.jpg') no-repeat;
      // min-height:195px;
      height:200px;
      width:100%;
    }
  }
  .login{
    .login-div{
      position: absolute;
      top:auto;
      bottom: auto;
      left: 0;
      right: 0;
      margin: auto;
      .login-button-div{
        text-align:center;
        margin-bottom: 25px;
        .login-button{
          display:inline-block;
          width: 150px;
          height: 50px;
          background-color: $primary-color;
          border: 0px;
          box-shadow: 3px 3px 3px $primary-color-dark;
          border-radius: 5px;
        }
      }
    }
  }
}
