.tabs {
  position: relative;
  height: 48px;
  background-color: $tabs-bg-color;
  margin: 0 auto;
  width: 100%;
  margin-top: 7%;
  white-space: nowrap;
  margin-bottom: 30px;
  .tab {
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    // width: 30%!important;

    a {
      color: $tabs-text-color;
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        color: lighten($tabs-text-color, 20%);
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }
  .tab.active{
    border-bottom: 1px solid $primary-color;
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tabs-underline-color;
    will-change: left, right;
  }
}

.tab-content{
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs .tab { padding: 0; }
